body{

}

.titulo-principal{
    margin: 2em 2em 3em;
    padding-left: 1000px;
    display: inline-block;


}

#tecnologiaimagem{
    width: 30%;
    display: inline-block;
}

.principal{
    background: rgb(216, 216, 238);
    padding: 30px;
}

.titulo-secundário{
    text-align: center;
}

p{
    text-align: right;
}

.lista-de-pontos{
    background: #FFFFFF;
    padding: 20px;
}

.item{
    font-style: italic;
    font-size: medium;

}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

#guardachuva{
    width: 100%;
    height: 450px;

}